.rat-card-bracket {
  color: #126980;
} 

.rat-card-spacer {
  color: #126980;
  padding: 0 4px;
} 

.rat-card-gene {
  display: flex;
  flex-direction: row;
  gap: 4px;
  color: #42A2AA;
}

.rat-card-allele {
  display: flex;
  flex-direction: row;
}

.rat-card-gene-value--above-average {
  color: #538000;
}

.rat-card-gene-value--below-average {
  color: #C07D7D;
}

.rat-card-gene-value--minimum {
  color: #964937;
}

.rat-card-gene-value--maximum {
  color: #417C39;
  text-decoration: underline;
}
