.add-form-title {
  color: #008990;
}

.add-form-question {
  color: #42A2AA;
} 

.add-form-bracket {
  color: #126980;
} 

.add-form-spacer {
  color: #126980;
  padding: 0 4px;
} 

.add-form-input {
  width: 50px;
}

.add-form-input-name {
  width: auto;
}