.info-card {
  background: #AB6747;
  border: 2px solid transparent;
  font-family: sans-serif;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(150 73 55)" /></svg>');
  border-image-outset: 2;
}

.info-card-header {
  width: calc(100% - 8px);
  min-height: 20px;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 4px;
  justify-content: space-between;
}

.info-card-name {
  color: #CBC4A7;
}

.info-card-close {
  margin-top: -3px;
}

.info-card-inner {
  padding: 8px;
  background: #292234;
  border: 1px solid transparent;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: stretch;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(150 73 55)" /></svg>');
  border-image-outset: 2;
  color: #42A2AA;
}

.info-card-empty .info-card-inner {
  display: none;
}

.content-card > .info-card-inner {
  background: #ecdca6;
  color: #5c3a2e;
}