:root {
  --ps-cream: #ecdca6;
  --ps-cream-shadow: #cdb87c;
  --ps-accent-light: #cb966a;
  --ps-accent: #c1604a;
  --ps-accent-dark: #8a3327;
  --ps-peach: #dfae8c;
  --ps-text: #5c3a2e;
  --ps-nav: #a2a495;
}
.content-panel {
  font-family: "Noto Sans", sans-serif;
  background: var(--ps-cream);
  width: 100%;
  height: 100%;
  color: var(--ps-text);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-panel-nav {
  width: calc(100% - 8px);
  background: var(--ps-nav);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 4px;
  border-bottom: 4px solid #cbc4a7;
  position: relative;
  margin-bottom: 12px;
  gap: 8px;
}

.content-panel-nav::before {
  content: '';
  position: absolute;
  width: 100%;
  top: calc(100% + 4px);
  height: 8px;
  background: #786f64;
  border-bottom: 4px solid #65514d;
  left: 0;
}

.content-panel-inner {
  border: 3px solid var(--ps-accent);
  background: var(--ps-cream);
  flex: 1;
  width: calc(100% - 38px);
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.content-panel-inner::after {
  content: '';
  width: 100%;
  height: 32px;
  margin-bottom: 24px;
  background: var(--ps-accent-light);
  margin-top: auto;
  display: flex;
}

.content-panel-content {
  padding: 8px;
  width: calc(100% - 16px);
}

.content-panel-title-row {
  display: flex;
  justify-content: center;
  margin-top: -3px;
  width: 100%;
}

.content-panel-title {
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  padding: 24px 16px;
  color: var(--ps-accent-dark);
  text-align: center;
  margin: 0;
  border-bottom: 3px solid var(--ps-accent);
    background: var(--ps-cream);
}

.content-panel-title-diagonal {
  width: 28px;
  background: var(--ps-cream);
}

.content-panel-title-diagonal-right {
  transform: scaleX(-1);
}

.content-panel-header {
  width: calc(100% - 16px);
  min-height: 10px;
  border-bottom: 3px solid var(--ps-accent);
  margin-bottom: 83px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 8px;
}

.content-panel-header-separator {
  width: 80%;
  height: 83px;
  position: absolute;
  top: 100%;
  left: 10%;
  display: flex;
/*  justify-content: space-between;*/
  background: var(--ps-cream);
}

.content-panel-header-separator-body {
    border-bottom: 3px solid var(--ps-accent);
    flex-grow: 100;
}