.content-button {
  border: 4px solid #c1604a;
  color: #8a3327;
  background: #ecdca6;
  cursor: pointer;

  clip-path: polygon(
    0px calc(100% - 4px),
    4px calc(100% - 4px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 4px,
    0px 4px
  );
}

.content-button:hover {
  color: #ecdca6;
  background: #c1604a;
}

.details-button {
  border-color: #126980;
  color: #42A2AA;
  background: #292234;
}

.details-button:hover{
  background: #126980;
  color: #292234;
}