.save-handler {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 8px;
  font-family: "Noto Sans", sans-serif;
}

.save-handler-label,
.save-handler-input {
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;
}

.save-handler-input::file-selector-button {
  border: 4px solid #c1604a;
  color: #8a3327;
  background: #ecdca6;
  cursor: pointer;
  font-family: "Noto Sans", sans-serif;

  clip-path: polygon(
    0px calc(100% - 4px),
    4px calc(100% - 4px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 4px) 4px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 4px,
    0px 4px
  );
}

.save-handler-input:hover::file-selector-button {
  color: #ecdca6;
  background: #c1604a;
}