.editable-section-fields {
  display: flex;
  flex-direction: row;
  gap: 4px 16px;
  flex-wrap: wrap;
}

.editable-section-field {
  display: flex;
  gap: 4px;
  flex-basis: calc(50% - 8px);
  width: min-content;
  align-content: center;
  flex-wrap: wrap;
}

.editable-section-field span {
  display: flex;
  align-items: center;
}

.editable-section-footer {
  padding-top: 8px;
  display: flex;
  gap: 4px;
}